.list-tab {
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  margin: 0; /* 외부 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  border: 1px solid #ccc; /* 탭 주변에 경계선 추가 */
  background-color: #f1f1f1; /* 배경 색상 설정 */
}

/* 탭 항목 스타일링 */
.list-tab li {
  float: left; /* 항목을 왼쪽으로 정렬 */
}

/* 탭 링크 스타일링 */
.list-tab li a {
  display: block; /* 링크를 블록 요소로 설정 */
  color: black; /* 텍스트 색상 */
  text-align: center; /* 텍스트 중앙 정렬 */
  padding: 14px 16px; /* 내부 여백 설정 */
  text-decoration: none; /* 밑줄 제거 */
  transition: 0.3s; /* 부드러운 색상 변경 효과 */
}

/* 링크에 마우스를 올렸을 때 스타일 */
.list-tab li a:hover {
  background-color: #ddd; /* 배경 색상 변경 */
}

/* 활성 탭 스타일 */
.list-tab li a.active {
  background-color: #04aa6d; /* 배경 색상 */
  color: white; /* 텍스트 색상 */
}

/* 테이블 전체 스타일 */
table {
  width: 100%; /* 테이블의 폭을 부모 요소에 맞춤 */
  border-collapse: collapse; /* 테두리 겹치기 제거 */
  margin: 20px 0; /* 상하 마진 설정 */
  font-family: Arial, sans-serif; /* 글꼴 설정 */
  font-size: 14px; /* 글꼴 크기 */
  text-align: left; /* 텍스트 좌측 정렬 */
  border: 1px solid #ddd; /* 테이블 외곽선 설정 */
}

/* 테이블 헤더 스타일 */
th {
  background-color: #f2f2f2; /* 배경 색상 */
  color: #333; /* 글자 색상 */
  padding: 12px 15px; /* 패딩 설정 */
}

/* 테이블 셀 스타일 */
td {
  padding: 8px 15px; /* 패딩 설정 */
  border-top: 1px solid #ddd; /* 상단 테두리 설정 */
}

/* 행 호버 효과 */
tr:hover {
  background-color: #f5f5f5; /* 호버 시 배경 색상 변경 */
}

.file-list {
  list-style: none; /* 기본 리스트 스타일 제거 */
  padding: 0; /* 기본 패딩 제거 */
  max-width: 500px; /* 폼 스타일과 일치 */
  margin: 20px auto; /* 중앙 정렬 및 마진 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 5px; /* 둥근 모서리 */
  background-color: #f9f9f9; /* 배경색 */
}
.user-name {
  flex: 1;
}
.file-list li {
  display: flex; /* 가로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 내용 사이의 공간 분배 */
  padding: 10px 20px; /* 패딩 */
  border-bottom: 1px solid #ccc; /* 아이템 사이의 구분선 */
  color: #333; /* 텍스트 색상 */
}
.file-list li a {
  margin: 0 5px;
}
.file-list li:last-child {
  border-bottom: none; /* 마지막 아이템의 하단 경계선 제거 */
}

.file-list button {
  padding: 5px 10px; /* 버튼 패딩 */
  border: none; /* 테두리 제거 */
  border-radius: 4px; /* 둥근 모서리 */
  font-size: 14px; /* 폼 스타일과 유사한 폰트 사이즈 */
  color: #fff; /* 텍스트 색상 */
  background-color: #007bff; /* 배경색 */
  cursor: pointer; /* 클릭 가능한 커서 스타일 */
  transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
}

.file-list button:hover {
  background-color: #0056b3; /* 버튼 호버 시 배경색 변경 */
}

.table-style {
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-collapse: collapse; /* 테이블의 테두리와 셀의 테두리를 합침 */
  background-color: #f9f9f9; /* 배경색 */
}

.table-style th,
.table-style td {
  padding: 10px 20px; /* 셀 패딩 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  border-bottom: 1px solid #ccc; /* 하단 테두리 */
}

.table-style th {
  background-color: #eee; /* 헤더 배경색 */
  color: #333; /* 헤더 텍스트 색상 */
}

.table-style tr:last-child td {
  border-bottom: none; /* 마지막 행의 하단 테두리 제거 */
}

.table-style button,
.btn-add-row {
  padding: 5px 10px; /* 버튼 패딩 */
  border: none; /* 테두리 제거 */
  border-radius: 4px; /* 둥근 모서리 */
  font-size: 14px; /* 폼 스타일과 유사한 폰트 사이즈 */
  color: #fff; /* 텍스트 색상 */
  background-color: #007bff; /* 배경색 */
  cursor: pointer; /* 클릭 가능한 커서 스타일 */
  transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
}
.table-style input {
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 내용 사이의 공간 분배 */
  padding: 5px 10px; /* 패딩 */
  border: 1px solid #ccc; /* 아이템 사이의 구분선 */
}

.select-style {
  max-width: 480px; /* 최대 너비 설정, 스크롤 바 공간 고려 */
  padding: 10px 20px; /* 패딩 */
  margin: 20px auto; /* 중앙 정렬 및 마진 */
  background-color: #f9f9f9; /* 배경색 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 5px; /* 둥근 모서리 */
  box-sizing: border-box; /* 박스 사이징 */
  color: #333; /* 텍스트 색상 */
}

.select-style:focus {
  outline: none; /* 포커스 시 아웃라인 제거 */
  border-color: #999; /* 포커스 시 테두리 색상 변경 */
}

.submit {
  margin-top: 10px;
  padding: 10px 15px; /* 버튼 패딩 */
  border: none; /* 테두리 제거 */
  border-radius: 4px; /* 둥근 모서리 */
  font-size: 14px; /* 폼 스타일과 유사한 폰트 사이즈 */
  color: #fff; /* 텍스트 색상 */
  background-color: #007bff; /* 배경색 */
  cursor: pointer; /* 클릭 가능한 커서 스타일 */
  transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
}

.form-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #333;
}

.form-group input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.submit:hover {
  background-color: #0056b3;
}

.user-detail {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.user-detail h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.user-detail p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.user-detail p strong {
  color: #555;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-delete {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  background-color: #ff0000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: #cc0000;
}

.link {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #0056b3;
}
